@model DoancnHT.Models.Danhmucdoan
@using DoancnHT.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>
<div class="body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">

            <thead>
                <tr>
                    <th>No.</th>
                    <th>sản phẩm</th>
                   
                    <th>Mô tả</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>No.</th>
                    <th>Loại sản phẩm</th>
                    <th>Mô tả</th>
               
                    <th>Thao tác</th>
                </tr>
            </tfoot>
            <tbody>
                @{int i = 1;}
                @foreach (Doan doan in ViewBag.da)
                {

                <tr>
                    <td>@i</td>
                    <td>
                        @Html.ActionLink(doan.TenDA, "Details", new { id = doan.MaDA })
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => doan.Dongia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => doan.MoTa)
                    </td>
                    <td>
                        <a href="@Url.Action("Delete","Cuahangs", new { id = doan.MaDA })" title="Xóa"><i class="material-icons">delete_forever</i></a>
                    </td>

                </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
